*{
    padding: 0;
    margin: 0;
}
body{
    scroll-behavior: smooth;
   background-color: rgba(248, 247, 246, 0.9);; 
}
@media (min-width: 1440px) {
    html {
      zoom: 1.5;
    }
}
  
@media (min-width: 2560px) {
    html {
      zoom: 1.7;
    }
}
  
@media (min-width: 3860px) {
    html {
      zoom: 2.5;
    }
}
  
#hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero img{
    width: 880px;
}
#hero h1{
    font-family: Playfair Display, Cormorant Garamond;
    font-size: 4rem;
}
#hero p{
    font-size: 1rem;
}
#hero-btns{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}
#hero-btns button{
    width: 130px;
    height: 33px;
    border: 2px solid #FFD1DC;
    border-radius: 8px;
}
.frame-101-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 140px;
}
.frame-101-b{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto 200px;
}
.frame-101-cards-a{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    height: 290px;
    position: relative;
    border-radius: 8px;
    transition: 0.3s ease-in-out; 
    margin: 200px auto;

    justify-content: center;
    align-items: center;
}
.frame-101-cards-a:hover{
    transform: scale(1.03);
    width: 300px;
}
.frame-101-cards-a img{
    width: 100%;
}
.frame-101-cards-a:hover .ls{
    width: 100%;
}
.ls{
    width: 100px;
    height: 260px;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    flex-shrink: 0;
    overflow: hidden;
}
.rs{
    width: calc(100% - 130px);
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    cursor: pointer;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
}
.rs:hover{
    padding-left: 20px;
    background-color: #f9f7f9;
}
.rs p:hover{
    padding: 20px;
}


.frame-102{
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame-102-b{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto 300px;
}
.fea-section-content{
    --bg-card: #27272a;
    --primary: #6d28d9;
    --primary-800: #4c1d95;
    --primary-shadow: #2e1065;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  
    position: relative;
  
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  
    padding: 1rem;
    width: 14rem;
    background-color: var(--bg-card);
  
    border-radius: 1rem;
  
}
.fea-section-content-img{
    overflow: hidden;
    cursor: pointer;
  
    position: relative;
    z-index: 5;
  
    width: 100%;
    height: 8rem;
    background-color: var(--primary-800);
  
    border-radius: 0.5rem;
}



.tittle{
    
    overflow: clip;

  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.active{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.price{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light);
}

.cart-button {
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  
    padding: 0.5rem;
    width: 100%;
    background-image: var(--bg-linear);
  
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--light);
    text-wrap: nowrap;
  
    border: 2px solid hsla(262, 83%, 58%, 0.5);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px var(--light);
  }
  
  .cart-button .cart-icon {
    width: 1rem;
  }
  
.pop-up {
    display: none;
    width: 190px;
    height: 254px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
   }
   
   .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
   
.frame-103{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px;
}
.frame-103-header{
    padding: 60px;
    padding-bottom: 100px;
}
.frame-103-header h2{
    font-size: 2.4rem;
}
.frame-103-header p{
    text-align: center;
}
.frame-103-content{
    padding: 20px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.frame-103-content-a h3{
    font-size: 2rem;
}
.frame-103-content-b{
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
    gap: 50px;
}
.brd-50{
    margin-top: 50px;
}
.brd-50 p{
    width: 660px;
    font-size: 18px;
}
.brd-100{
    display: flex;
    gap: 30px;
}
.brd-101{
    padding: 25px;
    border-radius: 10px;
    background-color: #FFD1DC;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.brd-101 img{
    width: 40px;
}

footer{
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer h2{
    font-size: 4rem;
}
.footer-101{
    display: flex;
    gap: 300px;
    justify-content: center;
    align-items: center;
}
.footer-102{
    display: flex;
    gap: 68px;
}
.footer-102 ul{
    display: flex;
    gap: 6px;
    font-size: 17px;
    flex-direction: column;
}
.footer-102 ul li{
    list-style-type: none;
}
.footer-102 a{
    text-decoration: none;
    color: white;
}
.footer-p{
    padding: 20px;
}
.footer-p a{
    color: whitesmoke;
}






