*{
    padding: 0;
    margin: 0;
}
body{
   background-color: rgba(248, 247, 246, 0.9);; 
}
#hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero img{
    width: 880px;
}
#hero h1{
    font-family: Playfair Display, Cormorant Garamond;
    font-size: 4rem;
}
#hero p{
    font-size: 1rem;
}
#hero-btns{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}
#hero-btns button{
    width: 130px;
    height: 33px;
    border: 2px solid #FFD1DC;
    border-radius: 8px;
}
.frame-101-header{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 200px;
}
.frame-101-b{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto 200px;
}
.frame-101-cards{
    max-width: 300px;
    width: 270px;
    height: 290px;
    border-radius: 8px;
    place-content: center;
    background-color: rgb(244, 199, 245);
}
.frame-101-cards img{
    max-width: 100%;
}


.frame-101-cards-a{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 920px;
    position: relative;
    border-radius: 6px;
    transition: 0.3s ease-in-out; 
}
.frame-101-cards-a:hover{
    transform: scale(1.03);
    width: 220px;
}
.frame-101-cards-a:hover .ls{
    width: 100%;
}
.ls{
    background-color: #5de2a3;
    width: 130px;
    height: 120px;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    flex-shrink: 0;
    overflow: hidden;
}
.rs{
    width: calc(100% - 130px);
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
}
.rs:hover{
    background-color: #f9f7f9;
}