*{
    padding: 0;
    margin: 0;
}
body{
   background-color: rgba(248, 247, 246, 0.9);; 
}
#hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero img{
    width: 880px;
}
#hero h1{
    font-family: Playfair Display, Cormorant Garamond;
    font-size: 4rem;
}
#hero p{
    font-size: 1rem;
}
#hero-btns{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}
#hero-btns button{
    width: 130px;
    height: 33px;
    border: 2px solid #FFD1DC;
    border-radius: 8px;
}
    /* --section-background: #f8f7f6; */